@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

:root {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --secondary-text-color: #0f0e0e;
  --header-color: #fe5000;

  --font: "Bungee Outline", sans-serif;
  --font-callout: "Bebas Neue", sans-serif;
  --font-p: "Lato", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: clamp(10rem, 15vh, 20rem);
  background-color: var(--header-color);
  color: var(--secondary-text-color);
}

.header>h1 {
  font-size: clamp(5rem, 10vh, 15rem);
  font-family: var(--font);
}

p {
  font-family: var(--font-p);
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  font-size: clamp(2rem, 2vh, 4rem);
}

form {
  margin: 0;
  padding: 0;
}

.signin-register {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--header-color);
  border: 1px solid #c73f00;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

form p {
  margin: 10px 0;
  margin-top: 0px;
  font-size: large;
}

form input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #9b9b9b;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #9b9b9b;
}

.signin-register p:last-child {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: var(--secondary-text-color);
}

#text {
  font-size: clamp(3rem, 3vh, 6rem);
  font-family: var(--font-callout);
  margin: 1rem;
  padding: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.source-code,
.feedback,
.credits,
.pw-reset {
  color: #ccc
}

.source-code:hover,
.feedback:hover,
.credits:hover {
  color: var(--header-color);
  cursor: pointer;
}

.admin-form {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--header-color);
  border: 1px solid #c73f00;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

.btn {
  width: auto;
  padding: 10px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #9b9b9b;
}

.orange {
  color: var(--header-color);
}

.input-num {
  width: auto;
  padding: 10px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  font-size: 18px;
}

table,
th {
  border: 1px solid white;
  padding: 5px;
}


.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.balance-item {
  text-align: center;
  width: 33%;
}

.balance-item p {
  margin: 0;
  font-size: clamp(1.5rem, 1.5vh, 2.5rem);
  color: #ccc;
}

.balance-item span {
  font-size: clamp(2rem, 2vh, 3rem);
  font-weight: bold;
  color: var(--header-color);
  margin-top: 5px;
}

.exchange-btn {
  width: auto;
  padding: 25px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: x-large;
  transition: background-color 0.3s;
}

.exchange-btn:hover {
  background-color: var(--header-color);
}

.shop-btn {
  width: auto;
  padding: 25px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: x-large;
  transition: background-color 0.3s;
}

.shop-btn:hover {
  background-color: var(--header-color);
}

.exchange-rate {
  font-size: clamp(1rem, 1vh, 1.5rem);
  color: #ccc;
  margin-top: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container select {
  width: 50%;
  padding: 10px;
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  border-radius: 20px;
  font-size: 16px;
}

.feedback-thingy {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--header-color);
  border: 1px solid #c73f00;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  margin-bottom: 10px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.signin-register2 {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--header-color);
  border: 1px solid #c73f00;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}
